---
- name: Cargar variables específicas por OS
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"
    - "default.yml"

- name: Instalar componentes de Zabbix Frontend
  apt:
    name:
      - zabbix-frontend-php
      - zabbix-apache-conf
    state: present

- name: Habilitar configuración de Zabbix en Apache
  command: a2enconf zabbix
  args:
    creates: /etc/apache2/conf-enabled/zabbix.conf

- name: Crear configuración del Frontend (Automatic Wizard Bypass)
  template:
    src: zabbix.conf.php.j2
    dest: /etc/zabbix/web/zabbix.conf.php
    owner: www-data
    group: www-data
    mode: '0644'

- name: Reiniciar Apache para aplicar cambios del Frontend
  service:
    name: apache2
    state: restarted
